<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Denver Site Plans</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    
    <div id="demo">
      <plan-grid
        :data="gridData"
        :columns="gridColumns"
        :files="files">
      </plan-grid>
    </div>
    
    <script type="text/x-template" id="grid-template">
      <main>
        <table>
        <thead>
          <input type="text" placeholder="Give me an address" v-model="search" />
        </thead>
        <thead>
          <tr>
            <th v-for="key in columns">
              {{ key | capitalize }}
            </th>
            <th v-for="key in files">
              {{key | capitalize}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in filterByAddress(organizedData)">
            <td v-for="key in columns">
              {{entry[key]}}
            </td>
            <td v-for="key in files">
              <a v-if="entry[key]" :href="'https://www.denvergov.org/media/gis/WebDocs/CPD/SDP_Maps/'+entry[key]">Link</a>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>